.mainwhy {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(96, 169, 168, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainwhyinnear {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}
.mainwhyinnear h1 {
  color: white;
}

.infodiv {
  display: flex;
  justify-content: space-between;
}

.infotext {
  border: 3px solid #4f2958;
  margin: 2%;
  padding: 3%;
  border-radius: 5px;
  color: white;
}

.infotext:hover{
  padding-top: 30px;
  background: #4f2958;
  transition: 0.5s;
}

@media screen and (max-width: 780px) {
  .infodiv {
   display: block;
  }

  .mainwhyinnear {
  
    padding: 0rem;
  }
}