.maindiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inneardiv {
  border: 1px solid black;
  padding: 1rem;
  margin-top: 8%;
  width: 25%;
}
.inneardiv h1 {
  color: black;
}
.maininput {
  display: flex;
  flex-direction: column;
  height: 3rem;
  margin-bottom: 4%;
}

.maininput input {
  height: 42px;
  padding-left: 2%;
  border:  1px solid #4f2958;
  border-radius: 5px;
}
.maininput input:focus{
  outline: none;
  box-shadow: rgba(0, 0, 128, 0.25) 0px 0px 0px 0.2rem;
  border-color: rgb(0, 0, 128);
}
.loginbtn {
  background: #4f2958;
  border: none;
  color: white;
  width: 39%;
  height: 29px;
  border-radius: 6px;
  margin-top: 2%;
  font-weight: 800;
}

@media (max-width: 730px) {
.maindiv{
  padding: 1rem;
}
  .inneardiv {
    border: 1px solid #4f2958;
    padding: 1rem;
    margin-top: 8%;
    width: 100%;
  }
}
